*{
    margin: 0px;
    padding: 0px;       
}
nav{
    background-color: black;
    color: white;
    
}

li,h1,ul{
    display: inline;
}

ul{
    margin-left: 60%;
}

li{ 
    color: gray;
    cursor: pointer;
}
li:hover{
    color: floralwhite;
}

input{
    width: 500px;
    height: 30px;
}

.searcher{
    padding: 50px;
    text-align: center;
}

.box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 200px;
}

.box:hover{
    background-color:black;
    color: whitesmoke;
}

.products{
    text-align: center;
}

.about{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.contact{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    padding-top: 30px;
}