*{
    margin: 0px;
    padding: 0px;       
}
nav{
    background-color: black;
    color: white;
    
}

li,h1,ul{
    display: inline;
}

ul{
    margin-left: 60%;
}

li{ 
    color: gray;
    cursor: pointer;
}
li:hover{
    color: floralwhite;
}

input{
    width: 500px;
    height: 30px;
}

.searcher{
    padding: 50px;
    text-align: center;
}

.box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
}